<section class="charts">
    <google-chart [title]="marketPrice.title" [type]="marketPrice.type" [data]="marketPrice.data" [columnNames]="marketPrice.columnNames" [options]="marketPrice.options" [width]="marketPrice.width" [height]="marketPrice.height">
    </google-chart>

    <google-chart [title]="tradeVolumes.title" [type]="tradeVolumes.type" [data]="tradeVolumes.data" [columnNames]="tradeVolumes.columnNames" [options]="tradeVolumes.options" [width]="tradeVolumes.width" [height]="tradeVolumes.height">
    </google-chart>
</section>