@import '../../syles/setup/mixins';
.welcome-user {
    h3,
    h4 {
        margin: 10px
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10x;
    .contact-img {
        width: auto;
        margin: 0;
        border: 1.5px solid rgb(206, 206, 206);
        object-fit: cover;
        border-radius: 50%;
        @include for-medium-mobile-layout {
            height: 3em;
        }
    }
    .img-name-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include for-medium-mobile-layout {
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
}